aliyun-python-sdk-core==2.13.14
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.9.0
certifi==2019.11.28
chardet==3.0.4
crcmod==1.7
django-environ==0.4.5
idna==2.8
jmespath==0.9.4
oss2==2.9.1
pycryptodome==3.9.6
requests==2.22.0
requests-toolbelt==0.9.1
urllib3==1.25.8
